<launch>
  <group ns="hardware">
    <!-- Nodes to the real justina robot -->
    <node name="mobile_base" pkg="mobile_base" type="omni_base_node" output="screen">
      <param name="port1" value="/dev/justinaRC30"/>
      <param name="port2" value="/dev/justinaRC15"/>
    </node>
    <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
      <param name="serial_port" type="string" value="/dev/justinaHokuyo_H1009463" />
      <param name="frame_id" type="string" value="laser_link" />
    </node>
    <node name="joy" pkg="joy" type="joy_node" output="screen"/>
    <node name="joystick_teleop" pkg="joystick_teleop" type="joystick_teleop_node.py" output="screen" />
  </group>
</launch>
