<launch>
  <group ns="hardware">
    <node name="kinect_man" pkg="kinect_man" type="kinect_man_node" output="screen">
      <param name="downsampling" value="3"/>
    </node>
    <node name="webcam_man" pkg="webcam_man" type="webcam_man_node" output="screen">
      <param name="device" value="/dev/video0"/>
      <param name="width" value="640"/>
      <param name="height" value="480"/>
    </node>
  </group>
</launch>
