<launch>
     <!-- Simulation gazebo -->
  <include file="$(find surge_et_ambula)/launch/gazebo_simul/justina_hardware_gazebo_expl.launch"/>

      <!-- Exploration services -->
  <include file="$(find exploration)/launch/Exploration_Services.launch"/>

   <!-- SLAM gmapping -->
  <node name="gmapping" pkg="gmapping" type="slam_gmapping" args="scan:=/scan" output="screen">

  <rosparam file="$(find finder_bringup)/params/gmapping_params.yaml" command="load"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find config_files)/rviz/exploration.rviz"/>
  <include file="$(find surge_et_ambula)/launch/gazebo_simul/justina_controllers.launch"/>
  

  <node name="arms_kinematics" pkg="inverse_kinematics" type="ik_numeric.py" output="screen"/>

</launch>
