<launch>
  <env name="GAZEBO_MODEL_PATH" value="$(find gazebo_envs)/models:$(optenv GAZEBO_MODEL_PATH)"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find gazebo_envs)/worlds/appartment.world"/>
  </include>
  
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find roomie_ilsp_description)/urdf/RoomieILSPGazebo.xacro'"/>
  <node name="robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model justina -x 7.64 -y 5.0 -z 0.05 -Y 1.57"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="use_tf_static" value="false"/>
  </node>
</launch>
