<?xml version="1.0"?>
<robot name="justina" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <macro name="cylinder_inertia" params="m r h">
    <inertia  ixx="${m*(3*r*r+h*h)/12}" ixy = "0" ixz = "0" iyy="${m*(3*r*r+h*h)/12}" iyz = "0" izz="${m*r*r/2}"/>
  </macro>
  
  <macro name="box_inertia" params="m x y z">
    <inertia  ixx="${m*(y*y+z*z)/12}" ixy = "0" ixz = "0" iyy="${m*(x*x+z*z)/12}" iyz = "0" izz="${m*(x*x+z*z)/12}"/>
  </macro>
  
  <macro name="sphere_inertia" params="m r">
    <inertia  ixx="${2*m*r*r/5}" ixy = "0" ixz = "0" iyy="${2*m*r*r/5}" iyz = "0" izz="${2*m*r*r/5}"/>
  </macro>
  
  <xacro:include filename="$(find justina_description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find justina_description)/urdf/justina_base.xacro"/>
  <xacro:include filename="$(find justina_description)/urdf/justina_torso.xacro"/>
  <xacro:include filename="$(find justina_description)/urdf/justina_left_arm.xacro"/>
  <xacro:include filename="$(find justina_description)/urdf/justina_right_arm.xacro"/>
  <xacro:include filename="$(find justina_description)/urdf/justina_head.xacro"/>
  
  <joint name="torso_connect" type="fixed">
    <origin xyz= "0 0 0.9" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="torso_link"/>
  </joint>
  <joint name="shoulder_left_connect" type="fixed">
    <origin xyz="0 0.195 -0.08" rpy="0 0 0"/>
    <parent link="spine_link"/>
    <child link="shoulders_left_link"/>
  </joint>
  <joint name="shoulder_right_connect" type="fixed">
    <origin xyz="0 -0.195 -0.08" rpy="0 0 0"/>
    <parent link="spine_link"/>
    <child link="shoulders_right_link"/>
  </joint>
  <joint name="spine_head_connect" type="fixed">
    <origin xyz="0 0 0.05" rpy="0 0 0"/>
    <parent link="spine_link"/>
    <child link="head_link1"/>
  </joint>


</robot>
  
